$blue-1: #11224D;
$blue-2: #193A6F;
$blue-3: #2C599D;
$blue-4: #5B84C4;
$orange-1: #F98125;
$orange-2: #FB9B50;
$dark-grey: #333;
$light-grey: #fefefe;
$light-grey-2: #dedede;
$white: #ffffff;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;