.my-inscriptions-cards{

    &__item{
        border: 1px solid #dedede;
        padding: 15px;
        background-color: #e0f0de;
        border-radius: 10px;
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100%;
        
        &--expired{
            background-color: #f0acac;
        }
    }

    &__top{
        height: 100%;
    }

    &__image-wrapper{
        position: absolute;
        top: -40px;
        left: -30px;
    }

    &__image{
        border-radius: 50%;
        border: 1px solid #dedede;
        width: 75px;
        height: 75px;
        background-color: #fff;
    }

    &__title{
        font-size: 24px;
        letter-spacing: 4px;
        padding-top: 15px;
        font-weight: 600;
    }
}

.my-inscriptions-list-title{
    text-transform: uppercase;
    font-family: 'Montserrat';
}