.my-profile{
    
    display: flex;
    justify-content: end;
    padding-right: 200px;

    @media screen and (max-width: $md) {
        padding-right: 0px;    
    }
    
    &__title{
        text-align: center;
        padding: 5px;
        font-weight: 600;
    }

    &__img-wrapper{
        width: 50px;
    }

    &__img{
        border-radius: 50%;
        background-color: #fff;
        border: 1px solid #d7d71d;
        width: 50px;
        height: 50px;
    }

    .dropdown-menu{
        left: auto;
        padding-left: 1px;
        padding-right: 1px;
    }
}